@import "mixin";
@import "../Styles/colors.scss";

.container-main {
  height: 100%;
  width: 35%;
  border-left: 1px solid $primary;
  @include flex(column, space-evenly, center);
  .slider-main {
    width: 80%;
    .slider-label {
      width: 100%;

      @include flex(row, space-between, center);
      p {
        font-family: Inter;
        font-size: 10px;
        font-weight: 600;
        // line-height: 18.15px;
        text-align: right;
        color: #c0c0c0;
      }
    }
  }

  .buttons-main {
    width: 100%;
    height: 100px;
    @include flex(column, flex-start, center);
    // border: 1px solid black;
    button {
      @include btn(50px, 80%, $primary, white, 14px);
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
    }
    .selector {
      height: 50px;
      width: 80%;
      background-color: $primary;
      color: white;
      border-radius: 14px;
      box-shadow: 0px 0px 21.899999618530273px -4px #00000040;
      @include flex(row, space-between, center, 0);
      .select-option {
        width: 80%;
        height: 100%;
        cursor: pointer;
        @include flex(row, center, center);
        p {
          font-family: Inter;
          font-size: 18px;
          font-weight: 500;
          //   line-height: 33.89px;
          // text-align: left;
        }
      }
      .select-icon {
        width: 20%;
        height: 100%;
        cursor: pointer;
        @include flex(row, center, center);
        border-left: 1px solid #d9d9d9;
      }
    }
  }
}
